extends layout

block list
    div#map_canvas.hidden-phone
    script(type='text/javascript')
        (function () {
            var mapOptions = {
                center: new google.maps.LatLng(50.07061,14.403334),
                minZoom: 15,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                disableDoubleClickZoom: true
            };
            googleMap = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        })();
    div.input-append#search
        input(type='text', placeholder='#{__i('Search')}')
        button(type='button', class='btn')
            i.icon-remove

block content
    div#restaurants
        div#loading #{__i('Loading…')}

    i#choicehelp-link.icon-meh
    div#choicehelp-box.alert.hide
        h2 #{__i('What about…')}
        i#choicehelp-close.icon-remove
        div#choicehelp-text

block end
    script(type='text/javascript')
        var restaurants = new lta.Restaurants(googleMap);
        restaurants.load();
        new lta.ChoiceHelp();
        new lta.Search('search', restaurants)
