html
    overflow-y scroll

#page
    margin 0px auto
    max-width 1000px

#list
    margin-top 30px
    position fixed

#search
    margin 10px auto
    input[type=text]
        width 350px

.price
    width 50px
    font-weight bold
    text-align center !important

.restaurant
    margin-bottom 50px
