#page
    margin 0px auto
    max-width 900px

#list
    margin-top 50px
    position fixed

#search 
    margin 10px auto
    input[type=text]
        width 150px

.price
    width 50px
    font-weight bold
    text-align center !important

.restaurant
    margin-bottom 50px
