html
    overflow-y scroll

#page
    margin 0px auto 50%
    max-width 1000px

#list
    position fixed

#map_canvas
    width 400px
    height 400px

#search
    margin 10px auto
    input[type=text]
        width 350px

.price
    width 50px
    font-weight bold
    text-align center !important

.restaurant
    margin-bottom 50px
    padding 1px 10px
    tr
        background #fff

@keyframes highlight
    0%, 20%
        background #dbe5ff
    100%
        background none

.restaurant-highlight
    animation highlight 3s
    -moz-animation highlight 3s
    -webkit-animation highlight 3s
    -o-animation highlight 3s

@media (max-width: 1000px)
    #map_canvas
        width 350px
        height 350px
    #search input[type=text]
        width 300px

@media (max-width: 900px)
    #map_canvas
        width 300px
        height 300px
    #search input[type=text]
        width 250px

@media (max-width: 767px)
    #page
        margin-top 40px
    #list
        top 5px
        left 20px
        width 100%
    #search input[type=text]
        width 85%

@media (max-width: 580px)
    #search input[type=text]
        width 80%

@media (max-width: 440px)
    #search input[type=text]
        width 75%
