
html {
    overflow-y: scroll;
}

#page {
    margin: 0px auto;
    max-width: 1000px;
}

#list {
    position: fixed;
}

#loading {
    min-height: 400px;
}

#map_canvas {
    width: 400px;
    height: 400px;
}

#search {
    margin: 10px auto;
    input[type=text] {
        width: 350px;
    }
}
