
@media (max-width: 1000px) {
    #map_canvas {
        width: 350px;
        height: 350px;
    }
    #search input[type=text] {
        width: 300px;
    }
}

@media (max-width: 900px) {
    #map_canvas {
        width: 300px;
        height: 300px;
    }
    #search input[type=text] {
        width: 250px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
    #page {
        margin-top: 40px;
    }
    #list {
        top: 5px;
        left: 20px;
        width: 100%;
    }
    #search {
        width: 85%;
        & input[type=text] {
            width: 100%;
        }
    }
    .restaurant {
        margin-bottom: 20px;
    }
}

@media (max-width: 580px) {
    #search {
        width: 80%;
    }

    #choicehelp-box {
        position: relative;
        top: 0;
        left: 3%;
        width: 80%;
        margin-left: 0;
    }
}

@media (max-width: 440px) {
    #search {
        width: 75%;
    }
}
