
.price {
    width: 50px;
    font-weight: bold;
    text-align: center !important;
}

#restaurants {
    min-height: 410px;
}

.restaurant {
    margin-bottom: 50px;
    padding: 1px 10px;
    tr {
        background: #fff;
    }
}

.restaurant-detail {
    display: block !important;
    height: auto;
    padding: 19px;
    opacity: 1;
    overflow: hidden;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &.hide {
        height: 0;
        min-height: 0;
        padding: 0 19px;
        margin-bottom: 0;
        opacity: 0;
    }
}

.meal-highlight,
.meal-highlight td {
    background: #468847 !important;
    color: white;
    &:hover,
    &:hover td {
        background: #3E7C3E !important;
    }
}

@keyframes highlight {
    0% {
        background: #dbe5ff;
    }
    20% {
        background: #dbe5ff;
    }
    100% {
        background: none;
    }
}

@-webkit-keyframes highlight {
    0% {
        background: #dbe5ff;
    }
    20% {
        background: #dbe5ff;
    }
    100% {
        background: none;
    }
}

.restaurant-highlight {
    animation: highlight 3s;
    -moz-animation: highlight 3s;
    -webkit-animation: highlight 3s;
    -o-animation: highlight 3s;
}
